.advantage {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    padding-bottom: 0;
}

.advantage__list {
    display: flex;
}

.advantage__item {
    width: calc((100% - 90px) / 4);

&:not(:last-child) {
    margin-right: 30px;
}
}
.advantage__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-secondary-color;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantage__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

